<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>  Blog  </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
</head>
<body>


<div class="page-header">
    {% if user.is_authenticated%}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif%}
    <div class ="top-menu">
        <section class="top-menu">
            <ul>
            {% if username %}
                <li><a href="/auth/logout/" {{ username }}>Выйти</a></li>
            {%else%}
                <li><a href ="/auth/login"Войти>Вход</a></li>
            {% endif %}
            </ul>
        </section>

    </div>
    <h1><a href="/">Django blog</a></h1>
</div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>